myenv/
*/easyFL.egg-info/
*/*.json
.idea/
__pycache__
*.py___jb_tmp___
*/results/
*/dataset_data_files/
**/*.log
config.yaml
/build/

# LaTeX build artifacts
**/*.aux
**/*.toc
**/*.lof
**/*.lot
**/*.bbl
**/*.blg
**/*.fls
**/*.fdb_latexmk
**/*.synctex.gz
**/*.out 
