click==8.1.7
networkx==3.3
numpy==2.1.1
pandas==2.2.3
Pillow==10.4.0
plotly==5.24.1
setuptools==73.0.1
tensorboardX==2.6.2.2
tensorboardX==2.6.2.2
torch==2.4.1
torchsummary==1.5.1
torchvision==0.19.1
